<footer class="footer">
    <div class="footer-wrap">
        <div class="footer-copy">&copy; {{date format="YYYY"}} <a href="{{@blog.url}}">{{@blog.title}}</a></div>
            <div class="footer-design-author"><span>Designed with</span> <i class="i-favorite heart"></i> by <a href="https://goo.gl/gCU1yH" target="_blank" title="Fullstack Web Developer">@GodoFredoNinja</a> and <a href="https://github.com/dippersauce" target="_blank" title="Ethical Hacker">dipper.</a></div>
    </div>
</footer>
